# Unity generated folders
**/[Ll]ibrary/
**/[Tt]emp/
**/[Oo]bj/
**/[Bb]uild/
**/[Bb]uilds/
**/[Ll]ogs/
**/[Uu]ser[Ss]ettings/
**/[Mm]emoryCaptures/
**/[Rr]ecordings/

# Visual Studio / Rider / IDE cache and project files
**/.vs/
**/.idea/
**/.gradle/
**/ExportedObj/
**/.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# Unity crash reports
sysinfo.txt
*.stackdump

# OS generated
.DS_Store
Thumbs.db
